.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
  column-gap: 20px;

  &-title {
    font-size: 35px;
    margin-bottom: 25px;
    text-decoration: underline;
    text-transform: capitalize;
  }
}
